{% for environment_name, environment_value in deploy_container_environment | dictsort %}
{{ environment_name }}={{ environment_value }}
{% endfor %}
SPRING_PROFILES_ACTIVE={{ deploy_spring_profile }}
SERVER_PORT={{ deploy_application_port }}
MANAGEMENT_SERVER_PORT={{ deploy_management_port }}
LOGGING_CONFIG={{ deploy_logging_config_container_path }}
SPRING_DATASOURCE_URL={{ deploy_db_url }}
SPRING_DATASOURCE_USERNAME={{ vault_db_username }}
SPRING_DATASOURCE_PASSWORD={{ vault_db_password }}
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
STORAGE_S3_BUCKET={{ deploy_s3_bucket }}
STORAGE_S3_REGION={{ deploy_s3_region }}
STORAGE_S3_ENDPOINT={{ deploy_s3_endpoint }}
STORAGE_S3_ACCESSKEY={{ vault_s3_access_key }}
STORAGE_S3_SECRETKEY={{ vault_s3_secret_key }}
