[defaults]
inventory = inventories/production.ini
roles_path = ../.ansible/roles:roles:~/.ansible/roles:/usr/share/ansible/roles
collections_path = ../.ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent

[ssh_connection]
pipelining = True

[galaxy]
cache_dir = ../.ansible/galaxy_cache
